p{
    text-align: justify;
    
}
h1{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: wavy;
    background-color: chocolate;
    font-style: italic;
}